@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('./img/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('./img/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('./img/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('./img/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('./img/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('./img/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-Thin.eot');
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url('./img/TTLakes/TTLakes-Thin.woff') format('woff'),
        url('./img/TTLakes/TTLakes-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('./img/TTLakes/TTLakes-Light.woff') format('woff'),
        url('./img/TTLakes/TTLakes-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./img/TTLakes/TTLakes-ExtraLight.eot');
    src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
        url('./img/TTLakes/TTLakes-ExtraLight.woff') format('woff'),
        url('./img/TTLakes/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
.page{
    position: absolute;
    float: left;
    max-width: 320px;
    font-family: "TT Lakes";
    margin: 0;
}
.header_menu    {
    margin: 23px auto 0 24px;
}
.header_menu-link{
    display: flex;
    justify-content: center;
}
.header_menu{
    display: flex;
    justify-content: center;
    gap:16px
}
.header_menu-group{
    margin-right: 50px;
}
.list_select{
    list-style-type: none;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 268px;
}
.list_select-element{
    display: flex;
    padding-left: 0;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 0;
}
.list_select-element:hover{
.list_select-highlight{
        visibility: visible;
    }
}
.list_select-highlight{
    visibility: hidden;
    margin-right: 20px;
}
.footer{
    margin-left: 24px;
}
.footer_menu-pic{
    margin-right: 16px;
}
.footer_number{
    color:#1b1c21;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}
.footer_lang{
    color:#1b1c21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}
.footer_lang:hover{
    color: #7e7e82;
}



